<div class="modal-header">
    <h4 class="modal-title pull-left">Add Device</h4>
    <button type="button" class="close pull-right" aria-label="Close"  >
      <span aria-hidden="true">&times;</span>
    </button>
  </div>
  <div class="modal-body">
<svg width="400" height="400" xmlns="http://www.w3.org/2000/svg" style="vector-effect: non-scaling-stroke;" stroke="null">
  <!-- Created with Method Draw - http://github.com/duopixel/Method-Draw/ -->
 
  <g stroke="null">
   <title stroke="null">background</title>
   <rect stroke="null" x="-1" y="-1" width="400" height="402" id="canvas_background" fill="#f9f9ff"/>
   <g stroke="null" id="canvasGrid" display="none">
    <rect stroke="null" id="svg_2" width="100%" height="100%" x="0" y="0" stroke-width="0" fill="url(#gridpattern)"/>
   </g>
  </g>
  <g stroke="null">
    <ellipse stroke="#000" style="vector-effect: non-scaling-stroke;" fill="#1c8ad8" stroke-width="1.5" cx="65.75" cy="215.43751" id="svg_1" rx="62" ry="57"/>
   <text stroke="#000" fill="#000000" stroke-width="0" stroke-opacity="null" fill-opacity="null" x="80.5" y="93.4375" id="svg_3" font-size="24" font-family="Helvetica, Arial, sans-serif" text-anchor="start" xml:space="preserve" transform="matrix(5.743672448719508,0,0,2.337131977081299,-399.05187830096463,-91.9069307371974) "/>
   <text stroke="null" fill="#ffffff" stroke-width="0" x="36" y="201.4375" id="svg_5" font-size="12" font-family="Helvetica, Arial, sans-serif" text-anchor="start" xml:space="preserve">THINGS</text>
   <text stroke="#000" fill="#ffffff" stroke-width="0" x="48.5" y="105.4375" id="svg_6" font-size="12" font-family="Helvetica, Arial, sans-serif" text-anchor="start" xml:space="preserve" transform="matrix(4.887850284576416,0,0,1,-214.56073758006096,0) "/>
   <text stroke="#000" fill="#ffffff" stroke-width="0" x="13.5" y="220.4375" id="svg_7" font-size="12" font-family="Helvetica, Arial, sans-serif" text-anchor="start" xml:space="preserve">LIFE CYCLE STATE</text>
   <text stroke="#000" fill="#ffffff" stroke-width="0" x="39.5" y="236.4375" id="svg_8" font-size="12" font-family="Helvetica, Arial, sans-serif" text-anchor="start" xml:space="preserve">STATE</text>
   <ellipse stroke="#000" fill="#1c8ad8" stroke-width="1.5" stroke-opacity="null" cx="110" cy="281.4375" id="svg_14" rx="7" ry="7"/>
   <ellipse stroke="#000" fill="#1c8ad8" stroke-width="1.5" cx="138" cy="247.9375" id="svg_15" rx="7" ry="7"/>
   <ellipse stroke="#000" fill="#1c8ad8" stroke-width="1.5" cx="72.5" cy="226.4375" id="svg_16"/>
   <path stroke="#000" fill="#1c8ad8" stroke-width="1.5" id="svg_19"/>
   <ellipse stroke="#000" fill="#1c8ad8" stroke-width="1.5" cx="147" cy="200.9375" id="svg_20" rx="7" ry="7"/>
   <ellipse stroke="#000" style="vector-effect: non-scaling-stroke;" fill="#1c8ad8" stroke-width="1.5" cx="122" cy="154.9375" id="svg_21" rx="7" ry="7"/>
   <ellipse stroke="#000" style="vector-effect: non-scaling-stroke;" fill="#1c8ad8" stroke-width="1.5" stroke-opacity="null" cx="73" cy="133.9375" id="svg_22" rx="5" ry="5"/>
   <ellipse stroke="#000" fill="#1c8ad8" stroke-width="1.5" stroke-opacity="null" cx="68.5" cy="292.4375" id="svg_23" rx="5" ry="5"/>
   <path stroke="#000" fill="#1c8ad8" stroke-width="1.5" stroke-opacity="null" fill-opacity="null" opacity="0.5" d="m71.5,132.4375" id="svg_27"/>
   <path stroke="#000" fill="#1c8ad8" stroke-width="1.5" stroke-opacity="null" fill-opacity="null" opacity="0.5" d="m71.5,130.4375" id="svg_29"/>
   <path stroke="#000" id="svg_4" d="m73.5,136.4375" opacity="0.5" stroke-width="1.5" fill="#fff"/>
   <path stroke="#000" id="svg_25" d="m70.5,133.4375" opacity="0.5" fill-opacity="null" stroke-opacity="null" stroke-width="1.5" fill="#fff"/>
   <ellipse stroke="#000" style="vector-effect: non-scaling-stroke;" ry="40" rx="40" id="option" cy="74.9375" cx="193" fill-opacity="null" stroke-opacity="null" stroke-width="1.5" fill="#1c8ad8"  (click) ="status('testing')" [ngClass]  ="getStatusselected('testing')" />
   <ellipse stroke="#000" style="vector-effect: non-scaling-stroke;" id="option1" transform="rotate(-3.262033462524414 255.49999999999872,162.93750000000009) " ry="40" rx="40"   cy="162.9375" cx="255.5"  (click) ="status('register')" fill-opacity="null" stroke-opacity="null"  [ngClass]  ="getStatusselected('register')"stroke-width="1.5" fill="#1c8ad8"/>
   <ellipse stroke="#000" style="vector-effect: non-scaling-stroke;" ry="40" rx="40" id="option2" cy="256.9375" cx="268.5" fill-opacity="null" stroke-opacity="null" stroke-width="1.5" fill="#1c8ad8" (click) ="status('Active')" [ngClass]  ="getStatusselected('Active')"/>
   <ellipse stroke="#000" style="vector-effect: non-scaling-stroke;" ry="40" rx="40" id="option3" cy="344.9375" cx="215" fill-opacity="null" stroke-opacity="null" stroke-width="1.5" fill="#1c8ad8" (click) ="status('inactive')" [ngClass]  ="getStatusselected('inactive')"/>
   <text stroke="#000" style="vector-effect: non-scaling-stroke;" xml:space="preserve" text-anchor="start" font-family="Helvetica, Arial, sans-serif" font-size="12" id="optiontext" y="80.4375" x="173.5" stroke-opacity="null" stroke-width="0" fill="#ffffff">Testing</text>
   <text stroke="#000" style="vector-effect: non-scaling-stroke;" xml:space="preserve" text-anchor="start" font-family="Helvetica, Arial, sans-serif" font-size="12" id="optiontext1" y="170.4375" x="232.5" stroke-opacity="null" stroke-width="0" fill="#ffffff">Register</text>
   <text stroke="#000" style="vector-effect: non-scaling-stroke;" xml:space="preserve" text-anchor="start" font-family="Helvetica, Arial, sans-serif" font-size="12" id="optiontext2" y="262.4375" x="250.5" stroke-opacity="null" stroke-width="0" fill="#ffffff">Active</text>
   <text stroke="#000" style="vector-effect: non-scaling-stroke;" xml:space="preserve" text-anchor="start" font-family="Helvetica, Arial, sans-serif" font-size="12" id="optiontext3" y="352.4375" x="191.5" stroke-opacity="null" stroke-width="0" fill="#ffffff">In Active</text>
   <path stroke="#000" id="svg_44" stroke-opacity="null" stroke-width="0" fill="#ffffff"/>
   <path stroke="#000" id="svg_51" d="m123.5,156.4375" opacity="0.5" fill-opacity="null" stroke-opacity="null" stroke-width="1.5" fill="#1c8ad8"/>
   <path stroke="#000" id="svg_52" d="m125.5,156.4375c21,21 18,37 17.5,36.5625" opacity="0.5" fill-opacity="null" stroke-opacity="null" stroke-width="1.5" fill="#1c8ad8"/>
   <path stroke="#000" style="vector-effect: non-scaling-stroke;" id="svg_53" d="m78.5,136.4375c33,0 40,12 39.5,11.5625" opacity="0.5" fill-opacity="null" stroke-opacity="null" stroke-width="1.5" fill="#1c8ad8"/>
   <path stroke="#000" id="svg_54" d="m149.5,211.4375c1,16 -8,28 -8,28" opacity="0.5" fill-opacity="null" stroke-opacity="null" stroke-width="1.5" fill="#1c8ad8"/>
   <path stroke="#000" id="svg_55" d="m131.5,258.4375c-9,14 -13,15 -13.5,14.5625" opacity="0.5" fill-opacity="null" stroke-opacity="null" stroke-width="1.5" fill="#1c8ad8"/>
   <path stroke="#000" id="svg_56" d="m102.5,284.4375c-14,12 -35,9 -35.5,8.5625" opacity="0.5" fill-opacity="null" stroke-opacity="null" stroke-width="1.5" fill="#1c8ad8"/>
   <ellipse stroke="#000" style="vector-effect: non-scaling-stroke;" ry="4" rx="4" id="svg_61" cy="110.9375" cx="165.5" stroke-opacity="null" stroke-width="1.5" fill="#1c8ad8"/>
   <line stroke="#000" stroke-linecap="null" stroke-linejoin="null" id="svg_62" y2="116.4375" x2="160.5" y1="148.4375" x1="129.5" stroke-opacity="null" stroke-width="1.5" fill="none"/>
   <ellipse stroke="#000" style="vector-effect: non-scaling-stroke;" ry="3.5" rx="4" id="svg_63" cy="181.9375" cx="215.5" stroke-opacity="null" stroke-width="1.5" fill="#1c8ad8"/>
   <line stroke="#000" stroke-linecap="null" stroke-linejoin="null" id="svg_64" y2="184.4375" x2="209.5" y1="199.4375" x1="156.5" fill-opacity="null" stroke-opacity="null" stroke-width="1.5" fill="none"/>
   <ellipse stroke="#000" ry="4" rx="4" id="svg_65" cy="252.4375" cx="224" stroke-opacity="null" stroke-width="1.5" fill="#1c8ad8"/>
   <line stroke="#000" stroke-linecap="null" stroke-linejoin="null" id="svg_66" y2="253.4375" x2="211.5" y1="251.4375" x1="148.5" fill-opacity="null" stroke-opacity="null" stroke-width="1.5" fill="none"/>
   <ellipse ry="4" rx="3.5" id="svg_67" cy="329.9375" cx="171" stroke-opacity="null" stroke-width="1.5" stroke="#000" fill="#1c8ad8"/>
   <line stroke-linecap="null" stroke-linejoin="null" id="svg_68" y2="326.4375" x2="165.5" y1="289.4375" x1="116.5" stroke-opacity="null" stroke-width="1.5" stroke="#000" fill="none"/>
  </g>
 </svg>


 <svg width="400" height="400" xmlns="http://www.w3.org/2000/svg" style="vector-effect: non-scaling-stroke;" stroke="null">
  <!-- Created with Method Draw - http://github.com/duopixel/Method-Draw/ -->
 
  <g stroke="null">
   <title stroke="null">background</title>
   <rect stroke="null" x="-1" y="-1" width="400" height="402" id="canvas_background" fill="#f9f9ff"/>
   <g stroke="null" id="canvasGrid" display="none">
    <rect stroke="null" id="svg_2" width="100%" height="100%" x="0" y="0" stroke-width="0" fill="url(#gridpattern)"/>
   </g>
  </g>
  <g stroke="null">
    <ellipse stroke="#000" style="vector-effect: non-scaling-stroke;" fill="#1c8ad8" stroke-width="1.5" cx="65.75" cy="215.43751" id="svg_1" rx="62" ry="57"/>
   <text stroke="#000" fill="#000000" stroke-width="0" stroke-opacity="null" fill-opacity="null" x="80.5" y="93.4375" id="svg_3" font-size="24" font-family="Helvetica, Arial, sans-serif" text-anchor="start" xml:space="preserve" transform="matrix(5.743672448719508,0,0,2.337131977081299,-399.05187830096463,-91.9069307371974) "/>
   <text stroke="null" fill="#ffffff" stroke-width="0" x="39" y="201.4375" id="svg_5" font-size="12" font-family="Helvetica, Arial, sans-serif" text-anchor="start" xml:space="preserve">THINGS</text>
   <text stroke="#000" fill="#ffffff" stroke-width="0" x="48.5" y="105.4375" id="svg_6" font-size="12" font-family="Helvetica, Arial, sans-serif" text-anchor="start" xml:space="preserve" transform="matrix(4.887850284576416,0,0,1,-214.56073758006096,0) "/>
   <text stroke="#000" fill="#ffffff" stroke-width="0" x="21.5" y="220.4375" id="svg_7" font-size="12" font-family="Helvetica, Arial, sans-serif" text-anchor="start" xml:space="preserve">OPERATIONAL</text>
   <text stroke="#000" fill="#ffffff" stroke-width="0" x="39.5" y="236.4375" id="svg_8" font-size="12" font-family="Helvetica, Arial, sans-serif" text-anchor="start" xml:space="preserve">STATE</text>
   <ellipse stroke="#000" fill="#1c8ad8" stroke-width="1.5" stroke-opacity="null" cx="110" cy="281.4375" id="svg_14" rx="7" ry="7"/>
   <ellipse stroke="#000" fill="#1c8ad8" stroke-width="1.5" cx="138" cy="247.9375" id="svg_15" rx="7" ry="7"/>
   <ellipse stroke="#000" fill="#1c8ad8" stroke-width="1.5" cx="72.5" cy="226.4375" id="svg_16"/>
   <path stroke="#000" fill="#1c8ad8" stroke-width="1.5" id="svg_19"/>
   <ellipse stroke="#000" fill="#1c8ad8" stroke-width="1.5" cx="147" cy="200.9375" id="svg_20" rx="7" ry="7"/>
   <ellipse stroke="#000" style="vector-effect: non-scaling-stroke;" fill="#1c8ad8" stroke-width="1.5" cx="122" cy="154.9375" id="svg_21" rx="7" ry="7"/>
   <ellipse stroke="#000" style="vector-effect: non-scaling-stroke;" fill="#1c8ad8" stroke-width="1.5" stroke-opacity="null" cx="73" cy="133.9375" id="svg_22" rx="5" ry="5"/>
   <ellipse stroke="#000" fill="#1c8ad8" stroke-width="1.5" stroke-opacity="null" cx="68.5" cy="292.4375" id="svg_23" rx="5" ry="5"/>
   <path stroke="#000" fill="#1c8ad8" stroke-width="1.5" stroke-opacity="null" fill-opacity="null" opacity="0.5" d="m71.5,132.4375" id="svg_27"/>
   <path stroke="#000" fill="#1c8ad8" stroke-width="1.5" stroke-opacity="null" fill-opacity="null" opacity="0.5" d="m71.5,130.4375" id="svg_29"/>
   <path stroke="#000" id="svg_4" d="m73.5,136.4375" opacity="0.5" stroke-width="1.5" fill="#fff"/>
   <path stroke="#000" id="svg_25" d="m70.5,133.4375" opacity="0.5" fill-opacity="null" stroke-opacity="null" stroke-width="1.5" fill="#fff"/>
   <ellipse stroke="#000" style="vector-effect: non-scaling-stroke;" ry="40" rx="40"  cy="74.9375" cx="193" fill-opacity="null" stroke-opacity="null" stroke-width="1.5" id="optionope" fill="#1c8ad8" (click) ="statusOpp('online')" [ngClass]  ="getStatusselectedOpp('online')"/>
   <ellipse stroke="#000" style="vector-effect: non-scaling-stroke;" transform="rotate(-3.262033462524414 255.49999999999872,162.93750000000009) " ry="40" rx="40"  cy="162.9375" cx="255.5"  id="optionope1" fill-opacity="null" stroke-opacity="null" stroke-width="1.5" fill="#1c8ad8" (click) ="statusOpp('offline')" [ngClass]  ="getStatusselectedOpp('offline')"/>
   <ellipse stroke="#000" style="vector-effect: non-scaling-stroke;" ry="40" rx="40"  cy="256.9375" cx="268.5" fill-opacity="null" stroke-opacity="null" stroke-width="1.5" fill="#1c8ad8" id="optionope2" (click) ="statusOpp('suspend')" [ngClass]  ="getStatusselectedOpp('suspend')"/>
   <ellipse stroke="#000" style="vector-effect: non-scaling-stroke;" ry="40" rx="40"   cy="344.9375" cx="215" fill-opacity="null" stroke-opacity="null" stroke-width="1.5" fill="#1c8ad8"id="optionope3" (click) ="statusOpp('resume')" [ngClass]  ="getStatusselectedOpp('resume')"/>
   <text stroke="#000" style="vector-effect: non-scaling-stroke;" xml:space="preserve" text-anchor="start" font-family="Helvetica, Arial, sans-serif" font-size="12" id="svg_36" y="80.4375" x="173.5" stroke-opacity="null" stroke-width="0" fill="#ffffff">Online</text>
   <text stroke="#000" style="vector-effect: non-scaling-stroke;" xml:space="preserve" text-anchor="start" font-family="Helvetica, Arial, sans-serif" font-size="12" id="svg_40" y="170.4375" x="239.5" stroke-opacity="null" stroke-width="0" fill="#ffffff">Offline</text>
   <text stroke="#000" style="vector-effect: non-scaling-stroke;" xml:space="preserve" text-anchor="start" font-family="Helvetica, Arial, sans-serif" font-size="12" id="svg_41" y="262.4375" x="246.5" stroke-opacity="null" stroke-width="0" fill="#ffffff">Suspend</text>
   <text stroke="#000" style="vector-effect: non-scaling-stroke;" xml:space="preserve" text-anchor="start" font-family="Helvetica, Arial, sans-serif" font-size="12" id="svg_43" y="352.4375" x="191.5" stroke-opacity="null" stroke-width="0" fill="#ffffff">Resume</text>
   <path stroke="#000" id="svg_44" stroke-opacity="null" stroke-width="0" fill="#ffffff"/>
   <path stroke="#000" id="svg_51" d="m123.5,156.4375" opacity="0.5" fill-opacity="null" stroke-opacity="null" stroke-width="1.5" fill="#1c8ad8"/>
   <path stroke="#000" id="svg_52" d="m125.5,156.4375c21,21 18,37 17.5,36.5625" opacity="0.5" fill-opacity="null" stroke-opacity="null" stroke-width="1.5" fill="#1c8ad8"/>
   <path stroke="#000" style="vector-effect: non-scaling-stroke;" id="svg_53" d="m78.5,136.4375c33,0 40,12 39.5,11.5625" opacity="0.5" fill-opacity="null" stroke-opacity="null" stroke-width="1.5" fill="#1c8ad8"/>
   <path stroke="#000" id="svg_54" d="m149.5,211.4375c1,16 -8,28 -8,28" opacity="0.5" fill-opacity="null" stroke-opacity="null" stroke-width="1.5" fill="#1c8ad8"/>
   <path stroke="#000" id="svg_55" d="m131.5,258.4375c-9,14 -13,15 -13.5,14.5625" opacity="0.5" fill-opacity="null" stroke-opacity="null" stroke-width="1.5" fill="#1c8ad8"/>
   <path stroke="#000" id="svg_56" d="m102.5,284.4375c-14,12 -35,9 -35.5,8.5625" opacity="0.5" fill-opacity="null" stroke-opacity="null" stroke-width="1.5" fill="#1c8ad8"/>
   <ellipse stroke="#000" style="vector-effect: non-scaling-stroke;" ry="4" rx="4" id="svg_61" cy="110.9375" cx="165.5" stroke-opacity="null" stroke-width="1.5" fill="#1c8ad8"/>
   <line stroke="#000" stroke-linecap="null" stroke-linejoin="null" id="svg_62" y2="116.4375" x2="160.5" y1="148.4375" x1="129.5" stroke-opacity="null" stroke-width="1.5" fill="none"/>
   <ellipse stroke="#000" style="vector-effect: non-scaling-stroke;" ry="3.5" rx="4" id="svg_63" cy="181.9375" cx="215.5" stroke-opacity="null" stroke-width="1.5" fill="#1c8ad8"/>
   <line stroke="#000" stroke-linecap="null" stroke-linejoin="null" id="svg_64" y2="184.4375" x2="209.5" y1="199.4375" x1="156.5" fill-opacity="null" stroke-opacity="null" stroke-width="1.5" fill="none"/>
   <ellipse stroke="#000" ry="4" rx="4" id="svg_65" cy="252.4375" cx="224" stroke-opacity="null" stroke-width="1.5" fill="#1c8ad8"/>
   <line stroke="#000" stroke-linecap="null" stroke-linejoin="null" id="svg_66" y2="253.4375" x2="211.5" y1="251.4375" x1="148.5" fill-opacity="null" stroke-opacity="null" stroke-width="1.5" fill="none"/>
   <ellipse ry="4" rx="3.5" id="svg_67" cy="329.9375" cx="171" stroke-opacity="null" stroke-width="1.5" stroke="#000" fill="#1c8ad8"/>
   <line stroke-linecap="null" stroke-linejoin="null" id="svg_68" y2="326.4375" x2="165.5" y1="289.4375" x1="116.5" stroke-opacity="null" stroke-width="1.5" stroke="#000" fill="none"/>
  </g>
 </svg>
 </div>