$theam-color-client:#1C8AD8;
.table {
    thead{
 background-color:  $theam-color-client;       
    }
    th{
        padding: 15px;
        color: white;
        opacity: 1;
    }
}
.buttonTheme{
    margin-bottom: 12px;
}

