<div class="main-content">
  <div class="container-fluid">
    <div class ="row">
       
        <div class ="col-md-2 buttonTheme">
            <button class="btn   theme_color" type="button">  Advance Search</button>
        </div>
        <div class ="col-md-6 tablebutton">
          <div class ="col-md-4">
            <button class="btn   theme_table_button " type="button"> <i class="fa fa-plus" aria-hidden="true"></i>
              Add Attribute</button>
            </div>
              <form class="form-horizontal col-md-8" action="/action_page.php">
                <div class="form-group">
                   
                    <input type="text" class="form-control" id="email" placeholder="Search">
                   
                </div>
</form>              
        </div>
       
    </div>
   
      <div class="row">
          <div class="col-md-12">
              <div class="card">
   
                  <div class="content table-responsive table-full-width">
                        <table class="table table-hover table-striped">
                              <thead>
                                  <tr>
                                      <th *ngFor="let cell of tableData1.headerRow" width="{{cell.width}}%" >{{ cell.name }}</th>
                                  </tr>
                              </thead>
                              <tbody>
                                  <tr *ngFor="let row of tableData1.dataRows">
                                      <td *ngFor="let cell of row">{{cell}}</td>
                                  </tr>
                              </tbody>
                        </table>

                  </div>
              </div>
          </div>
           
      </div>
  </div>
</div>
