<!-- <nav class="navbar navbar-default" style ="height:59px">
    <div class="container-fluid">
        <div class="navbar-header">
            <button type="button" class="navbar-toggle" data-toggle="collapse" (click)="sidebarToggle()">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand " href="" style ="margin-left:-9px" >  <i class="fa {{getIcon()}} theme_color_icon"></i> {{getTitle()}}</a>
        </div>
        <div class="collapse navbar-collapse">
             

            <ul class="nav navbar-nav navbar-right">
             
                 
                <li>
                    <button type="button" class="btn   theme_color" (click) = "subscribeToNotifications()"><i class="fa fa-clock-o  "></i>
                        Quick Help</button>

                </li>
                <li class="separator hidden-lg hidden-md"></li>
            </ul>
        </div>
    </div>
</nav> -->
