<div id="loader" *ngIf ="loaderShow"><img src="assets/img/loader-preview.svg" alt="loading"></div>
<router-outlet></router-outlet>
<div  class="fav-backtop favth-col-lg-12 favth-col-md-12 favth-col-sm-12 favth-col-xs-12" style ="    width: 50px;
/* border-radius: 62%; */
right: 2%;
position: fixed;
/* background: red; */
z-index: 9999999;
bottom: 1%;">
   <button style =" box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
   transition: 0.3s;
   box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
    transition: 0.3s;
    width: 43px;
    height: 43px;
    border-radius: 50%;
    background: #4285f4;
   "><i class="fa fa-question-circle" aria-hidden="true" style ="font-size: 16px;
    color: white;"></i></button>
     

 
  </div>