<div class="main-content">
    <div class="container-fluid">
        <div class="row">
          <div class ="col-md-12">
            <div class ="header_top col-md-12">
              <div class ="col-md-5" style ="margin-top: 12px;">
                 <span>Things Name:</span> {{ComandDetail.name}}  
              </div>
              <div class ="col-md-7" >
            
                <div class="col-md-2">
                    <a  class=" " style="color:white; padding-right: 0px"  (click)="migrate2Account(ComandDetail)"> <i class="fa fa-cloud-upload material-icons" aria-hidden="true"   ></i><br>To Account</a>

                </div>
                <div class="col-md-2">
                    <a  class=" " style="color:white;padding-left: 0px"  (click)="migrate(ComandDetail)"> <i class="fa fa-cloud-upload material-icons" aria-hidden="true"   ></i><br>Migrate</a>

                </div>
                <div class="col-md-2">
                    <a   class=" " style="color:white;" (click)="changeStatus(ComandDetail)"> <i class="fa fa-check-square-o material-iconsnew" aria-hidden="true"  ></i><br>Change Status</a> 
                </div>
                <div class="col-md-2">
                    <a   class=" " style="color:white;"  (click)="addField(ComandDetail)"> <i class="fa fa-plus material-icons" aria-hidden="true"  ></i><br>Add Field</a> 
                </div> 
                <div class="col-md-4">
                    <a   class=" " style="color:white;"  (click)="assignUnassignAlert(ComandDetail)">  <i class="fa fa-check-square-o material-iconsnew" aria-hidden="true"  ></i><br>Assign/Un Assign Alert</a> 
                </div> 
              </div> 
            </div> 
          </div>
          <div class ="col-md-12 "  >
            <div class ="col-md-12 dashbox card" style ="margin-top: 23px;padding-left: 0px;
            padding-right: 0px;">
                <div class ="header">
                    Things DETAILS
                    <i class="fa fa-caret-down ng-tns-c2-0 ng-star-inserted"   *ngIf ="!collabsableHeader" (click) ="collabsableHeader = !collabsableHeader "style="font-size: 16px ;    float: right;"></i>
                    <i class="fa fa-caret-up ng-tns-c2-0 ng-star-inserted" *ngIf =" collabsableHeader" (click) ="collabsableHeader = !collabsableHeader "style="font-size: 16px ;    float: right;"></i>

                </div>
                <div class ="col-md-12 bodyHeader" *ngIf ="collabsableHeader">
                  
                <div class ="col-md-6 border_top_right" style ="    padding-left: 0;">
                 
                  <div class ="col-md-12">
                      <div class ="col-md-4 detailheader"   >
                          <div >Things Name</div>
                      </div>
                        <div class ="col-md-8 detailKey ">
                            <div>{{ComandDetail.name}}</div>
                        </div>
                  </div>
                  <div class ="col-md-12">
                      <div class ="col-md-4 detailheader"   >
                          <div >Date</div>
                      </div>
                        <div class ="col-md-8 detailKey ">
                            <div>{{ComandDetail.createdOn | date}}</div>
                        </div>
                  </div>
                  <div class ="col-md-12">
                      <div class ="col-md-4 detailheader"   >
                          <div >Protocol</div>
                      </div>
                        <div class ="col-md-8 detailKey ">
                            <div>{{ComandDetail.protocol}}</div>
                        </div>
                  </div>
                  <div class ="col-md-12">
                      <div class ="col-md-4 detailheader"   >
                          <div >HardWare Type</div>
                      </div>
                        <div class ="col-md-8 detailKey ">
                            <div>{{ComandDetail.hardwareType}}</div>
                        </div>
                  </div>
                  <div class ="col-md-12">
                        <div class ="col-md-4 detailheader"   >
                            <div >HardWare ID</div>
                        </div>
                          <div class ="col-md-8 detailKey ">
                              <div>{{ComandDetail.thingId}}</div>
                          </div>
                    </div>
                  
                  <div class ="col-md-12">
                      <div class ="col-md-4 detailheader"   >
                          <div >Product Type</div>
                      </div>
                        <div class ="col-md-8 detailKey ">
                            <div>{{ComandDetail.productType}}</div>
                        </div>
                  </div>
                  <div class ="col-md-12">
                      <div class ="col-md-4 detailheader"   >
                          <div >Unit Type</div>
                      </div>
                        <div class ="col-md-8 detailKey ">
                            <div>{{ComandDetail.unitType}}</div>
                        </div>
                  </div>
               
                  

                </div>
                <div class ="col-md-6 border_top" > 
                    <div class ="col-md-12" style ="margin-top: 10px;">
                        <div class ="  detailheader"   >
                         <strong>Description </strong>
                        </div>
                        <div class ="  detailheader"   >
                             {{ComandDetail.description}}
                           </div> 
                    </div>
                   
                   
                  
                  </div>
              </div>

            </div>
          </div>
          <div class ="col-md-6 "   style ="padding-right: 6px;" >
                <div class ="col-md-12 dashbox card" style ="margin-top: 23px;     padding-left: 0px;
                padding-right: 0px;">
                    <div class ="header">
                        Things  Properties
                        <i class="fa fa-caret-down ng-tns-c2-0 ng-star-inserted"   *ngIf ="!collabsablePro" (click) ="collabsablePro = !collabsablePro "style="font-size: 16px ;    float: right;"></i>
                        <i class="fa fa-caret-up ng-tns-c2-0 ng-star-inserted" *ngIf =" collabsablePro" (click) ="collabsablePro = !collabsablePro "style="font-size: 16px ;    float: right;"></i>
    
                    </div>
                    <div class ="col-md-12 bodyHeader border_top_right" style ="    padding-left: 0;" *ngIf ="collabsablePro">
                      
                       <div class ="col-md-12" *ngFor ="let list of thingsProperties">
                          <div class ="col-md-4 detailheader"   >
                              <div >{{list.name}}</div>
                          </div>
                          <div class ="col-md-8 detailKey ">
                                <div>                    {{list.value}}
                                    </div>
                              </div>
            
                           
                      </div>
                       
                     
            
                     
                  </div>
            
                </div>
              </div>
              <div class ="col-md-6 " style ="padding-left: 6px;"  >
                  <div class ="col-md-12 dashbox card" style ="margin-top: 23px;     padding-left: 0px;
                  padding-right: 0px;">
                      <div class ="header">
                          Things Identifier Properties
                          <i class="fa fa-caret-down ng-tns-c2-0 ng-star-inserted"   *ngIf ="!collabsableIdPro" (click) ="collabsableIdPro = !collabsableIdPro "style="font-size: 16px ;    float: right;"></i>
                          <i class="fa fa-caret-up ng-tns-c2-0 ng-star-inserted" *ngIf =" collabsableIdPro" (click) ="collabsableIdPro = !collabsableIdPro "style="font-size: 16px ;    float: right;"></i>
  
                      </div>
                      <div class ="col-md-12 bodyHeader border_top_right" style ="    padding-left: 0;" *ngIf ="collabsableIdPro">
                        
                            <div class ="col-md-12" *ngFor ="let list of thingsPropertiesIdentifier">
                                    <div class ="col-md-4 detailheader"   >
                                        <div >{{list.name}}</div>
                                    </div>
                                      <div class ="col-md-8 detailKey ">
                                          <div> {{list.value}}</div>
                        
                                        
                                      </div>
                                </div>
                         
                        
              
                       
                    </div>
              
                  </div>
                </div>
<div class ="col-md-6 "   style ="padding-right: 6px;" >
    <div class ="col-md-12 dashbox card" style ="margin-top: 23px;     padding-left: 0px;
    padding-right: 0px;">
        <div class ="header">
            Things  Status
            <i class="fa fa-caret-down ng-tns-c2-0 ng-star-inserted"   *ngIf ="!collabsableStatus" (click) ="collabsableStatus = !collabsableStatus "style="font-size: 16px ;    float: right;"></i>
            <i class="fa fa-caret-up ng-tns-c2-0 ng-star-inserted" *ngIf =" collabsableStatus" (click) ="collabsableStatus = !collabsableStatus "style="font-size: 16px ;    float: right;"></i>

        </div>
        <div class ="col-md-12 bodyHeader border_top_right" style ="    padding-left: 0;" *ngIf ="collabsableStatus">
          
           <div class ="col-md-12">
              <div class ="col-md-4 detailheader"   >
                  <div >Operational Status</div>
              </div>
              <div class ="col-md-8 detailKey ">
                    <div>                    {{ComandDetail.state.operationalState}}
                        </div>
                  </div>

               
          </div>
           
          <div class ="col-md-12">
            <div class ="col-md-4 detailheader"   >
                <div >Life Cycle Status</div>
            </div>
              <div class ="col-md-8 detailKey ">
                  <div>  {{ComandDetail.state.lifecycleState}}</div>

                
              </div>
        </div>

         
      </div>

    </div>
  </div>
  <div class ="col-md-6 " style ="padding-left: 6px;"  >
      <div class ="col-md-12 dashbox card" style ="margin-top: 23px;     padding-left: 0px;
      padding-right: 0px;">
          <div class ="header">
              Things Metadata
              <i class="fa fa-caret-down ng-tns-c2-0 ng-star-inserted"   *ngIf ="!collabsablemetaStatus" (click) ="collabsablemetaStatus = !collabsablemetaStatus "style="font-size: 16px ;    float: right;"></i>
              <i class="fa fa-caret-up ng-tns-c2-0 ng-star-inserted" *ngIf =" collabsablemetaStatus" (click) ="collabsablemetaStatus = !collabsablemetaStatus "style="font-size: 16px ;    float: right;"></i>
  
          </div>
          <div class ="col-md-12 bodyHeader border_top_right" style ="    padding-left: 0;" *ngIf ="collabsablemetaStatus">
            
                <div class ="col-md-12" *ngFor ="let list of dataList">
                        <div class ="col-md-4 detailheader"   >
                            <div >{{list.name}}</div>
                        </div>
                          <div class ="col-md-8 detailKey ">
                              <div> {{list.value}}</div>
            
                            
                          </div>
                    </div>
             
            
  
           
        </div>
  
      </div>
    </div>
          </div></div></div>