<div class="main-content">
    <div class="container-fluid">
        <div class="row">
          <div class ="col-md-12">
            <div class ="header_top col-md-12">
              <div class ="col-md-6" style ="margin-top: 12px;">
                 <span>Alert Name:</span> {{ComandDetail.name}}  
              </div>
              <div class ="col-md-6" >
                <div class="col-md-3">
 
                </div>
                <!-- <div class="col-md-2">
                    <a  class=" " style="color:white;"  (click)="migrate(ComandDetail)"> <i class="fa fa-cloud-upload material-icons" aria-hidden="true"   ></i><br>Migrate</a>

                </div>
                <div class="col-md-4">
                    <a   class=" " style="color:white;" (click)="changeStatus(ComandDetail)"> <i class="fa fa-check-square-o material-iconsnew" aria-hidden="true"  ></i><br>Change Status</a> 
                </div>-->
                
              </div> 
            </div> 
          </div>
          <div class ="col-md-12 "  >
            <div class ="col-md-12 dashbox card" style ="margin-top: 23px;padding-left: 0px;
            padding-right: 0px;">
                <div class ="header">
                    Alert DETAILS
                    <i class="fa fa-caret-down ng-tns-c2-0 ng-star-inserted"   *ngIf ="!collabsableHeader" (click) ="collabsableHeader = !collabsableHeader "style="font-size: 16px ;    float: right;"></i>
                    <i class="fa fa-caret-up ng-tns-c2-0 ng-star-inserted" *ngIf =" collabsableHeader" (click) ="collabsableHeader = !collabsableHeader "style="font-size: 16px ;    float: right;"></i>

                </div>
                <div class ="col-md-12 bodyHeader" *ngIf ="collabsableHeader">
                  
                <div class ="col-md-6 border_top_right" style ="    padding-left: 0;">
                 
                  <div class ="col-md-12">
                      <div class ="col-md-4 detailheader"   >
                          <div >  Name</div>
                      </div>
                        <div class ="col-md-8 detailKey ">
                            <div>{{ComandDetail.name}}</div>
                        </div>
                  </div>
                  <div class ="col-md-12">
                      <div class ="col-md-4 detailheader"   >
                          <div >Created Date</div>
                      </div>
                        <div class ="col-md-8 detailKey ">
                            <div>{{ComandDetail.createdOn | date}}</div>
                        </div>
                  </div>
                
                  <div class ="col-md-12">
                    <div class ="col-md-4 detailheader"   >
                        <div >  Alert Id</div>
                    </div>
                      <div class ="col-md-8 detailKey ">
                          <div>{{ComandDetail.customAlertId}}</div>
                      </div>
                </div>
                  

                <div class ="col-md-12">
                  <div class ="col-md-4 detailheader"   >
                      <div >  Priority</div>
                  </div>
                    <div class ="col-md-8 detailKey ">
                        <div>{{ComandDetail.rulePriority}}</div>
                    </div>
              </div>
              
            <div class ="col-md-12">
              <div class ="col-md-4 detailheader"   >
                  <div >  Max Alert per Day</div>
              </div>
                <div class ="col-md-8 detailKey ">
                    <div>{{ComandDetail.maxAlertPerDay}}</div>
                </div>
          </div>
          
        
        
                </div>
                <div class ="col-md-6 border_top" > 
                    <div class ="col-md-12" style ="margin-top: 10px;">
                        <div class ="  detailheader"   >
                         <strong>Description </strong>
                        </div>
                        <div class ="  detailheader"   >
                             {{ComandDetail.description}}
                           </div> 
                    </div>
                   
                         
                  </div>
              </div>

            </div>
          </div>
          
               
 
   
          </div></div></div>