<div class="modal-header">
    <h4 class="modal-title pull-left">Add Things Template</h4>
    <i class="fa fa-info" aria-hidden="true" style ="float: right;
  font-size: 20px;
  /* padding: 8px; */
  padding-top: 10px;
  cursor: pointer;
  "></i>
  </div>
  <div class="modal-body">
      <form name ="formgr"  #heroForm="ngForm" >

         <div class ="row">
          <div class ="col-md-6">
              <div class="form-group">
                  <label for="lastname" class="control-label">Name</label>
                  <input type="text" class="form-control" id="lastname" placeholder="Name" [(ngModel)] ="data.name" name ="name" #name="ngModel"  required>
                  <div *ngIf="(name.invalid && (name.dirty || name.touched)) "
                  class="alert alert-danger">
              
                <div *ngIf="name.errors.required">
                  This field is required.
                </div>
                
              
              </div>
                </div>
            <div class="form-group">
                <label for="lastname" class="control-label">Template Type</label>

              <select class="form-control" id="sel1" [(ngModel)] ="data.templateType" name ="type">
 
              <option value ="Communicable"  >Communicable</option>
              <option value ="nonCommunicable">Non Communicable</option>
             </select>
              
             </div> 
             <div class="form-group">
              <label for="lastname" class="control-label">Hardware Type</label>
              <input type="text" class="form-control" id="lastname" placeholder="Hardware Type" [(ngModel)] ="data.hardwareType"  name ="hardwaretype">
          </div>
          
          </div>
          <div class ="col-md-6">
              <div class="form-group">
                  <label for="lastname" class="control-label">Product Type</label>
                  <input type="text" class="form-control" id="lastname" placeholder="Product Type" [(ngModel)] ="data.productType" name ="productType">
              </div>
              <div class="form-group">
                  <label for="lastname" class="control-label">Unit Type</label>
                  <input type="text" class="form-control" id="lastname" placeholder="Unit Type" [(ngModel)] ="data.unitType" name ="unitType">
              </div>
              <div class="form-group">
                  <label for="lastname" class="control-label">Description</label>
                  <textarea type="text" class="form-control" id="lastname" placeholder="Description" [(ngModel)] ="data.description" name ="description" rows="2"></textarea>
              </div>
            </div> 
          <div class ="clear"></div>
          <div class ="col-md-12">

          <tabset type="pills" >
            <tab heading="Attribute Template" style ="margin-left: 10px">
              <div class ="col-md-12"  style ="    padding: 0px;"   >
                     <hr>
          <div class ="row" style="    width: 100%;"> 
              <div class ="col-md-6 tablebutton"> 
                    <form class="form-horizontal col-md-8" style ="float: right;
                    margin-right: 15px;">
                      <!-- <div class="form-group"> 
                          <input type="text" class="form-control" id="email" placeholder="Search" style ="    height: 35px;">
                      </div> -->
      </form>              
              </div>
          </div>
            <div class="row" style="    width: 100%;
            margin: auto;   padding: 0;
          max-height: 405px;
          overflow-x: auto;"  >
                <div class="col-md-12">

                  
                    <div class="card">
                        <div class="content table-responsive table-full-width">
                          <table class="table table-hover table-striped"  >
                            <thead>
                                <tr>
                                    <th  width="20%"   > Action</th>
                                    <th    > Attribute Template</th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr class ="selecttable"  *ngFor ="let list of attrDetailList ;let i =index;" (click)="attributeselectedListdata(list)" style ="cursor: pointer">
                                    <td  ><div class="form-check">
                                      <label class ="checkboxnew">
                                        <input type="checkbox" [attr.name]="'check'+ i"   [(ngModel)]="list.check" [ngModelOptions]="{standalone: true}"> <span class="label-text"></span>
                                      </label>
                                    </div> </td>
                                    <td  > {{list.name}}</td>
                                </tr>
                            </tbody>
                            <tfoot >
                              <tr  ><td [attr.colspan]="8"> 
                                <div class=" " style="float: left;">
                                  <ul class="pagination">
                                    <li  >  
                                      <button  (click)="aprePage()"  [disabled]="aselectedPage == 1">« Prev</button>
                                    </li>
                                    <li   *ngFor = "let list of apageCountArray" [ngClass]="agetClass(list)"> 
                                      <a  (click)="aPage(list)" >{{list}}</a>
                                    </li>
                                    <li  >
                                      <button    (click)="anextPage()"    [disabled]="aselectedPage == apageCountArray[apageCountArray.length - 1]" >Next »</button>
                                    </li>
                                  </ul>
                                </div>
                              </td>
                            </tr></tfoot>
                      </table> 
      
                        </div>
                    </div>
                </div>
                 
            </div>
            </div>

            </tab>
            <tab heading="Event Template" *ngIf ="data.templateType =='Communicable'">
              <div class ="col-md-12"   >
                         <hr>
           
                <div class="row" style="    width: 100%;
                margin: auto; padding: 0;
          max-height: 405px;
          overflow-x: auto;"  >
                    <div class="col-md-12">
    
                      
                        <div class="card">
                            <div class="content table-responsive table-full-width">
                              <table class="table table-hover table-striped"  >
                                <thead>
                                    <tr>
                                        <th  width="20%"   > Action</th>
                                        <th    > Event Template</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    <tr class ="selecttable"  *ngFor ="let list of eventDetailList ;" (click)="eventselectedListdata(list)" style ="cursor: pointer">
                                        <td  ><div class="form-check">
                                          <label class ="checkboxnew">
                                            <input type="checkbox" name="check"   [(ngModel)]="list.check" [ngModelOptions]="{standalone: true}"> <span class="label-text"></span>
                                          </label>
                                        </div> </td>
                                        <td  > {{list.name}}</td>
                                    </tr>
                                </tbody>
                                <tfoot >
                                  <tr  ><td [attr.colspan]="8"> 
                                    <div class=" " style="float: left;">
                                      <ul class="pagination">
                                        <li  >  
                                          <button  (click)="eprePage()"  [disabled]="eselectedPage == 1">« Prev</button>
                                        </li>
                                        <li   *ngFor = "let list of epageCountArray" [ngClass]="egetClass(list)"> 
                                          <a  (click)="ePage(list)" >{{list}}</a>
                                        </li>
                                        <li  >
                                          <button    (click)="enextPage()"    [disabled]="eselectedPage == epageCountArray[epageCountArray.length - 1]" >Next »</button>
                                        </li>
                                      </ul>
                                    </div>
                                  </td>
                                </tr></tfoot>
                          </table> 
          
                            </div>
                        </div>
                    </div>
                     
                </div>
                </div></tab>
                <tab heading="Commands Template" *ngIf ="data.templateType =='Communicable'">
                 <div class ="col-md-12"  >
                             <hr>
                  <div class ="row" style="    width: 100%;"> 
                      <div class ="col-md-6 tablebutton"> 
                            <form class="form-horizontal col-md-8" style ="float: right;
                            margin-right: 15px;">
                              <!-- <div class="form-group"> 
                                  <input type="text" class="form-control" id="email" placeholder="Search" style ="    height: 35px;">
                              </div> -->
              </form>              
                      </div>
                  </div>
                    <div class="row" style="    width: 100%;
                    margin: auto; padding: 0;
          max-height: 405px;
          overflow-x: auto;">
                        <div class="col-md-12"> 
                            <div class="card">
                                <div class="content table-responsive table-full-width">
                                  <table class="table table-hover table-striped"  >
                                    <thead>
                                        <tr>
                                            <th  width="20%"   > Action</th>
                                            <th    > Command Template</th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        <tr class ="selecttable"  *ngFor ="let list of commandDetailList ;" (click)="commandselectedListdata(list)" style ="cursor: pointer">
                                            <td  ><div class="form-check">
                                              <label class ="checkboxnew">
                                                <input type="checkbox" name="check"   [(ngModel)]="list.check" [ngModelOptions]="{standalone: true}"> <span class="label-text"></span>
                                              </label>
                                            </div> </td>
                                            <td  > {{list.name}}</td>
                                        </tr>
                                    </tbody>
                                    <tfoot >
                                      <tr  ><td [attr.colspan]="8"> 
                                        <div class=" " style="float: left;">
                                          <ul class="pagination">
                                            <li  >  
                                              <button  (click)="cprePage()"  [disabled]="cselectedPage == 1">« Prev</button>
                                            </li>
                                            <li   *ngFor = "let list of cpageCountArray" [ngClass]="cgetClass(list)"> 
                                              <a  (click)="cPage(list)" >{{list}}</a>
                                            </li>
                                            <li  >
                                              <button    (click)="cnextPage()"    [disabled]="cselectedPage == cpageCountArray[cpageCountArray.length - 1]" >Next »</button>
                                            </li>
                                          </ul>
                                        </div>
                                      </td>
                                    </tr></tfoot>
                              </table> 
                                </div>
                            </div>
                        </div>
                         
                    </div>
                    </div>


                </tab>

          </tabset>
          </div>
        </div>
   <div class="modal-footer">
    <button type="button" class="btn theme_table_button" (click) ="onCancel();" >Close</button>
    <button type="button" class="btn theme_table_button"  (click) = "submitCreate(heroForm)" *ngIf="title === 'false'">Save</button>
    <button type="button" class="btn theme_table_button"  (click) = "submitUpdate(heroForm)"  *ngIf="title !== 'false'">Update</button>
  </div>
  </form>