<div class="modal-header">
  <h4 class="modal-title pull-left">Add Field</h4>
  <button type="button" class="close pull-right" aria-label="Close"  >
    <span aria-hidden="true">&times;</span>
  </button>
</div>
<div class="modal-body">
    <div class ="row" style ="    padding-top: 10px;">

<div class ="col-md-12"  style ="border:1px solid ;margin-top:10px" >
  <div    *ngFor = "let list of dataList ;let i = index ;"  style ="padding: 13px;"> 
   <div class ="{{list.class1}}">
     <div class="form-group">
         <label for="lastname" class="control-label" *ngIf ="i == 0 ">Metadata Key:</label>
         <input type="text" class="form-control" id="lastname" placeholder="Key" [(ngModel)] ="list.name" >
     </div></div> 
    
        
   <div class ="{{list.class2}}">
       <div class="form-group {{list.class3}}">
         <div class="form-group">
             <label for="sel1" *ngIf ="i == 0 ">Metadata Value:</label>
             <input type="text" class="form-control" id="lastname" placeholder="Default value" [(ngModel)] ="list.value" > 
           </div> 
       </div> 
       <button class="btn col-md-2 theme_table_button {{list.class4}}" (click) ="add()" ><i class="fa fa-plus plusIcon"  ></i></button>
       <button class="btn col-md-2 theme_table_button  {{list.class4}}" (click) ="remove(i)" *ngIf ="i != 0 " style ="margin-left: 5%;"><i class="fa fa-minus plusIcon"  ></i></button> 
   </div>
  
 </div> 
</div> 
</div></div>
<div class="modal-footer">
    <button type="button" class="btn theme_table_button"  >Close</button>
     <button type="button" class="btn theme_table_button"  (click) = "updateDevicePro()" >Update</button>

  </div>