<div class="main-content">
    <div class="container-fluid">
        <div class="row">
            <div class="col-md-9">
                 <div class="card dashbox col-md-12">
                    <div class ="header">
                        Things Prototype
                        <i class="fa fa-microchip  " ></i>
                    </div>
                    <div class="bodyHeader" >
                            <div class="row">
                                    <div class="col-md-4 border_top_right"  >
                                            <div class="col-md-12 smallbox"  >
                                                    <i class="fa fa-wrench" aria-hidden="true"  ></i>

                                           <span style ="margin-left: 10px;">Properties</span>     
                                           
                                           <i class="fa fa-bars" aria-hidden="true" style ="float:right; " (click)="listFunction('Properties/Prototype');"></i>
                                           <i class="fa fa-plus" aria-hidden="true" style ="float:right; margin-right: 15px;"  (click)="addFunction(1);" ></i>

                                                </div><div class="col-md-12 smallbox"  >
                                                        <i class="fa fa-file-text" aria-hidden="true"  ></i>

                                                        <span style ="margin-left: 10px;">Event ACK</span>   
                                                        <i class="fa fa-bars" aria-hidden="true" style ="float:right; " (click)="listFunction('Event/ACK/Template');"></i>
                                                        <i class="fa fa-plus" aria-hidden="true" style ="float:right; margin-right: 15px;"   (click)="addFunction(2);"  ></i>
             
                                                    </div>
                                    </div>
                                    <div class="col-md-4 border_top_right"  >
                                            <div class="col-md-12 smallbox"  >
                                                    <i class="fa fa-calendar" aria-hidden="true"  ></i>

                                           <span style ="margin-left: 10px;">Event</span>     
                                          

                                           <i class="fa fa-bars" aria-hidden="true" style ="float:right;"  (click)="listFunction('Event/Prototype');"></i>
                                           <i class="fa fa-plus" aria-hidden="true" style ="float:right; margin-right: 15px;"  (click)="addFunction(3);"></i>
                                                </div><div class="col-md-12 smallbox"  >
                                                        <i class="fa fa-microchip" aria-hidden="true"  ></i>
                                                        <span style ="margin-left: 10px;">Things Template</span>   
                                                        <i class="fa fa-bars" aria-hidden="true" style ="float:right; " (click)="listFunction('Template/Things');"></i>
                                                        <i class="fa fa-plus" aria-hidden="true" style ="float:right;margin-right: 15px;"  (click)="addFunction(4);" ></i>
                                                        </div>
                                    </div>
                                    <div class="col-md-4 border_top">
                                            <div class="col-md-12 smallbox"  >
                                                    <i class="fa fa-terminal" aria-hidden="true"  ></i>

                                           <span style ="margin-left: 10px;">Command</span>     
                                           
                                           <i class="fa fa-bars" aria-hidden="true" style ="float:right;" (click)="listFunction('Command/Prototype');"></i>
                                           <i class="fa fa-plus" aria-hidden="true" style ="float:right; margin-right: 15px;"   (click)="addFunction(5);"></i>

                                                </div><div class="col-md-12 smallbox"  >
                                                        <i class="fa fa-check" aria-hidden="true"  ></i>

                                                        <span style ="margin-left: 10px;">Command ACK</span>   
                                                        <i class="fa fa-bars" aria-hidden="true" style ="float:right; " (click)="listFunction('Command/ACK/Template');"></i>
                                                        <i class="fa fa-plus" aria-hidden="true" style ="float:right; margin-right: 15px;"  (click)="addFunction(6);"></i>
             
                                                    </div>
                                    </div></div>
                     </div>
                </div>
                <!-- <div class="card dashbox col-md-6">
                        <div class ="header">
                           Location
                            <i class="fa fa-compass  " ></i>
                        </div>
                        <div class="bodyHeader" >
                                <div class="row">
                                       
                                        <div class="col-md-6 border_top_right"  >
                                                <div class="col-md-12 smallbox"  >
                                                        <i class="fa fa-calendar" aria-hidden="true"  ></i>
    
                                               <span style ="margin-left: 10px;">GZ</span>     
                                              
    
                                               <i class="fa fa-bars" aria-hidden="true" style ="float:right;"></i>
                                               <i class="fa fa-plus" aria-hidden="true" style ="float:right; margin-right: 15px;"></i>
    
                                                    </div> 
                                        </div>
                                        <div class="col-md-6 border_top"  >
                                                <div class="col-md-12 smallbox"  >
                                                        <i class="fa fa-heart" aria-hidden="true"  ></i>
    
                                               <span style ="margin-left: 10px;">POI</span>     
                                               
                                               <i class="fa fa-bars" aria-hidden="true" style ="float:right;"></i>
                                               <i class="fa fa-plus" aria-hidden="true" style ="float:right; margin-right: 15px;"></i>
    
                                                    </div> 
                                        </div></div>
                         </div>
                    </div> -->
                    <div class="card dashbox col-md-12">
                            <div class ="header">
                               User Management
                                <i class="fa fa-user-o  " ></i>
                            </div>
                            <div class="bodyHeader" >
                                    <div class="row">
                                           
                                            <div class="col-md-6 border_top_right"  >
                                                     <div class="col-md-12 smallbox"  >
                                                                <i class="fa fa-user-o" aria-hidden="true"  ></i>
        
                                                                <span style ="margin-left: 10px;">Users</span>   
                                                                <i class="fa fa-bars" aria-hidden="true" style ="float:right; " (click)="listFunction('user/management');" ></i>
                                                                <i class="fa fa-plus" aria-hidden="true" style ="float:right;margin-right: 15px;"></i>
                     
                                                            </div>
                                            </div>
                                            <div class="col-md-6 border_top"  >
                                                     <div class="col-md-12 smallbox"  >
                                                                <i class="fa fa-users" aria-hidden="true"  ></i>
        
                                                                <span style ="margin-left: 10px;">Group</span>   
                                                                <i class="fa fa-bars" aria-hidden="true" style ="float:right; "></i>
                                                                <i class="fa fa-plus" aria-hidden="true" style ="float:right; margin-right: 15px;"></i>
                     
                                                            </div>
                                            </div></div>
                             </div>
                        </div>
                        <div class="card dashbox col-md-6">
                                
                                <div class="bodyHeader"   style ="    padding-top: 17px;
                                padding-bottom: 16px;">
                                        <div class="row">
                                               
                                                
                                                <div class="col-md-12 "  >
                                                         <div class="col-md-12 smallbox"  >
                                                                    <i class="fa fa-line-chart" aria-hidden="true"  ></i>
            
                                                                    <span style ="margin-left: 10px;">Analytics</span>   
                                                                    <i class="fa fa-bars" aria-hidden="true" style ="float:right; "></i>
                                                                    <i class="fa fa-plus" aria-hidden="true" style ="float:right; margin-right: 15px;"></i>
                         
                                                                </div>
                                                </div></div>
                                 </div>
                            </div>
                            <div class="card dashbox col-md-6">
                                     
                                    <div class="bodyHeader"   style ="    padding-top: 17px;
                                    padding-bottom: 16px;">
                                            <div class="row">
                                                   
                                                    
                                                    <div class="col-md-12  "  >
                                                             <div class="col-md-12 smallbox"  >
                                                                        <i class="fa fa-cog" aria-hidden="true"  ></i>
                
                                                                        <span style ="margin-left: 10px;">Configuration</span>   
                                                                        <i class="fa fa-bars" aria-hidden="true" style ="float:right; "></i>
                                                                        <i class="fa fa-plus" aria-hidden="true" style ="float:right; margin-right: 15px;"></i>
                             
                                                                    </div>
                                                    </div></div>
                                     </div>
                                </div>
            </div> 
            <div class="col-md-3" style ="    padding-left: 0px;">
                    <div class="card dashbox">
                        <div class ="header">
                                Things 
                            <i class="fa fa-microchip  " ></i>
                        </div>
                        <div class="bodyHeader" >
                                <div class="row">
                                        <div class="col-md-12 border_top"  >
                                                <div class="col-md-12 smallbox"  >
                                                        <i class="fa fa-mobile" aria-hidden="true"  ></i>
    
                                               <span style ="margin-left: 10px;">Things</span>     
                                               
                                               <i class="fa fa-bars" aria-hidden="true" style ="float:right; "  (click)="listFunction('Things');"></i>
                                               <i class="fa fa-plus" aria-hidden="true" style ="float:right; margin-right: 15px;"></i>
    
                                                    </div> 
                                        </div>
                                        </div>
        </div>
        
    </div>
    <div class="card dashbox">
            <div class ="header">
                    Roles 
                <i class="fa fa-gavel  " ></i>
            </div>
            <div class="bodyHeader" >
                    <div class="row">
                            <div class="col-md-12 border_top"  >
                                    <div class="col-md-12 smallbox"  >
                                            <i class="fa fa-gavel" aria-hidden="true"  ></i>

                                   <span style ="margin-left: 10px;">Roles</span>     
                                   
                                   <i class="fa fa-bars" aria-hidden="true" style ="float:right; "></i>
                                   <i class="fa fa-plus" aria-hidden="true" style ="float:right; margin-right: 15px;"></i>

                                        </div> 
                            </div>
                            </div>
</div>

</div>
<div class="card dashbox">
        <div class ="header">
                Routes 
            <i class="fa fa-map-marker  " ></i>
        </div>
        <div class="bodyHeader" style ="padding-bottom: 30px;" >
                <div class="row">
                        <div class="col-md-12 border_top"  >
                                <div class="col-md-12 smallbox"  >
                                        <i class="fa fa-map-marker" aria-hidden="true"  ></i>

                               <span style ="margin-left: 10px;">Routes</span>     
                               
                               <i class="fa fa-bars" aria-hidden="true" style ="float:right; "></i>
                               <i class="fa fa-plus" aria-hidden="true" style ="float:right; margin-right: 15px;"></i>

                                    </div> 
                        </div>
                        </div>
</div>

</div>
</div>
</div></div></div>
