<div class="modal-header">
  <h4 class="modal-title pull-left"  >Add Alert</h4> 
  <i class="fa fa-info" aria-hidden="true" style ="float: right;
  font-size: 20px;
  /* padding: 8px; */
  padding-top: 10px;
  cursor: pointer;
  "></i> 
</div>
<div class="modal-body">
    <form name ="formgr"  #heroForm="ngForm" >
        <div class ="row">
        
       

        <div id="stepper1" class="bs-stepper">
          <div class="bs-stepper-header">
              <div class="step" data-target="#test-l-1">
                <button class="step-trigger">
                  <span class="bs-stepper-circle">1</span>
                  <span class="bs-stepper-label">Alert Info</span>
                </button>
              </div>
              <div class="line"></div>
               
              <div class="step" data-target="#test-l-2">
                  <button class="step-trigger">
                    <span class="bs-stepper-circle">2</span>
                    <span class="bs-stepper-label">When To Execute</span>
                  </button>
                </div>
              <div class="line"></div>
              <div class="step" data-target="#test-l-3">
                  <button class="step-trigger">
                    <span class="bs-stepper-circle">3</span>
                    <span class="bs-stepper-label">Trigger Additional Info</span>
                  </button>
                </div>
              
              <div class="line"></div>
              <div class="step" data-target="#test-l-4">
                <button class="step-trigger">
                  <span class="bs-stepper-circle">4</span>
                  <span class="bs-stepper-label">Alert Action</span>
                </button>
              </div>
              <div class="line"></div>
              <div class="step" data-target="#test-l-5">
                <button class="step-trigger">
                  <span class="bs-stepper-circle">5</span>
                  <span class="bs-stepper-label">Submit</span>
                </button>
              </div>
              <div class="line"></div>
  
               
            </div>
          <div class="bs-stepper-content">
                <div id="test-l-1" class="content">
                    <form name ="formgr"  #heroForm="ngForm" >

               <div class ="row">
                 <div class ="col-md-12">
                   <div class ="col-md-6">
                    <div class="form-group">
                      <label for="exampleInputPassword1">Name*</label>
                      <input type="text" class="form-control" id="exampleInputPassword1" placeholder="name" name ="name" [(ngModel)]="data.name"  #name="ngModel"  required  />
                      
                    </div>
                    <div class="form-group col-md-4 " style ="padding:0px">
                      <label for="lastname" class="control-label"   >Type*:</label>
                       <select class="form-control" id="sel1" name ="rulePriority"    [(ngModel)]="data.rulePriority"  required >
                          <option value ="" selected>Select Priority</option> 
                        <option value ="High" >High</option>
                        <option value ="Medium" >Medium</option>
                        <option value ="Low" >Low</option>
 
                       </select>
                       
                    </div>

                    <div class="form-group col-md-4">
                      <label for="exampleInputPassword1">Alert Id*</label>
                      <input type="text" class="form-control" id="exampleInputPassword1" placeholder="Alert Id" name ="customAlertId" [(ngModel)]="data.customAlertId"   />
                      
                    </div>
                    <div class="form-group col-md-4">
                        <label for="exampleInputPassword1">Alert Per Day*</label>
                        <input type="text" class="form-control" id="exampleInputPassword1" placeholder="Max Alert Per Day" name ="maxAlertPerDay" [(ngModel)]="data.maxAlertPerDay"   />
                        
                      </div>
                    
                   </div>
                   <div class ="col-md-6">
                      <label for="lastname" class="control-label"><span class ="red">*</span>Description</label>
                      <textarea type="text" class="form-control" id="lastname"   [(ngModel)]="data.description" name ="Description" placeholder="Description"   rows="4" ></textarea>

                    </div>
                 </div>
               </div>
                <button (click)="next(heroForm)" class="btn btn-primary">Next</button>
                </form>
              </div>
              <div id="test-l-2" class="content">
                  <form name ="formgr"  #heroForm="ngForm" >

                      <div class ="row">
                        <div class ="col-md-12">
                            <div class="form-group col-md-4 " style ="padding:0px">
                                <label for="lastname" class="control-label"   >Execute Type*:</label>
                                 <select class="form-control" id="sel1" name ="rulePriority"    [(ngModel)]="data.whenToExecute2"  required >
                                    <option value ="" selected>Select Priority</option> 
                                  <option value ="daysOfMonth" >Day Of Month</option>
                                  <option value ="always" >Always</option>
                                  <option value ="daysOfWeek" >Days Of Week</option>
           
                                 </select>
                                 
                              </div>          
                           </div>
                          
                           <div class ="col-md-12" *ngIf ="data.whenToExecute2 == 'always'">
                              <div class="form-group col-md-6 " style ="padding:0px">
                                <label for="Start">Start Time</label>

                                <p-calendar id  = "Start" name ="Start" [(ngModel)]="always.startTime" showIcon = "true"  showTime="true" hourFormat="12"></p-calendar>

                                   
                         </div>
                         <div class="form-group col-md-6 " style ="padding:0px">
                          <label for="End">End Time</label>

                          <p-calendar  name ="End" [(ngModel)]="always.endTime"  id ="End" showIcon = "true" showTime="true" hourFormat="12"></p-calendar>

                             
                          </div>
                                  </div>
                                  <div class ="col-md-12" *ngIf ="data.whenToExecute2 == 'daysOfMonth'">
                                    <div class="form-group col-md-3 " style ="padding:0px">
                                      <label for="Start">Start Time</label>

                                      <p-calendar id  ="Start"name ="Start"  [(ngModel)]="daysOfMonth.startTime" showIcon = "true"  showTime="true" hourFormat="12"></p-calendar>
      
                                         
                               </div>
                               <div class="form-group col-md-3 " style ="padding:0px">
                                <label for="End">End Time</label>

                                <p-calendar id  ="End"  name ="End" [(ngModel)]="daysOfMonth.endTime" showIcon = "true"  showTime="true" hourFormat="12"></p-calendar>

                                   
                         </div>
                               <div class="form-group col-md-3 " style ="padding:0px">
                                <label for="month">Select Month</label>

                                <ng-multiselect-dropdown
                                id ="month"
                                [placeholder]="'Select Month'"
                                [data]="MonthList"
                                [(ngModel)]="selectedItems"
                                [settings]="dropdownSettings"
                                (onSelect)="onItemSelect($event)"
                                (onSelectAll)="onSelectAll($event)"
                                name ="drop"
                              >
                              </ng-multiselect-dropdown>
                                   
                         </div>
                         <div class="form-group col-md-3 " style ="padding:0px">
                          <div class="form-group">
                            <label for="exampleInputPassword1">day</label>
                            <input type="text" class="form-control" id="dayselec" placeholder="day" name ="day" [(ngModel)]="daysOfMonth.day"    />
                           
                          </div>
                             
                           </div>
                                 </div>
                                    <div class ="col-md-12" *ngIf ="data.whenToExecute2 == 'daysOfWeek'">
                                      <div class="form-group col-md-4 " style ="padding:0px">
                                        <label for="Start">Start Time</label>
  
                                        <p-calendar id  ="Start" name ="start"  [(ngModel)]="daysOfWeek.startTime" showIcon = "true"  showTime="true" hourFormat="12"></p-calendar>
        
                                           
                                 </div>
                                 <div class="form-group col-md-4 " style ="padding:0px">
                                  <label for="End">End Time</label>
  
                                  <p-calendar id  ="End" name ="End"  [(ngModel)]="daysOfWeek.endTime" showIcon = "true"  showTime="true" hourFormat="12"></p-calendar>
  
                                     
                           </div>
                           <div class="form-group col-md-4 " style ="padding:0px">

                           <div class="form-group">
                            <label for="exampleInputPassword1">Day Of Week</label>
                            <input type="text" class="form-control" id="dayselec" placeholder="day" name ="day" [(ngModel)]="daysOfWeek.dayOfWeek"    />
                           
                          </div>
                          </div>

                                      </div>
                          </div>
                          </form> 
                <button (click)="next(heroForm)" class="btn btn-primary">Next</button>
              </div>
              <div id="test-l-3" class="content">
                <form name ="formgr"  #heroForm="ngForm" >
                    <div class ="row">
                        <div class ="col-md-12">
                    <div class="form-group col-md-3 " style ="padding:0px">

                        <div class="form-group">
                         <label for="exampleInputPassword1">key</label>
                         <input type="text" class="form-control" id="dayselec" placeholder="day" name ="day" [(ngModel)]="triggerAdditionalInfo.key"    />
                        
                       </div>
                       </div>
                       <div class="form-group col-md-3 " style ="padding:0px">

                          <div class="form-group">
                           <label for="exampleInputPassword1">value</label>
                           <input type="text" class="form-control" id="dayselec" placeholder="day" name ="day" [(ngModel)]="triggerAdditionalInfo.value"    />
                          
                         </div>
                         </div>
                         <div class="form-group col-md-3 " style ="padding:0px">

                            <div class="form-group">
                             <label for="exampleInputPassword1">operator</label>
                             <input type="text" class="form-control" id="dayselec" placeholder="day" name ="day" [(ngModel)]="triggerAdditionalInfo.operator"    />
                            
                           </div>
                           </div>
                           <div class="form-group col-md-3 " style ="padding:0px">

                              <div class="form-group">
                               <label for="exampleInputPassword1">unit</label>
                               <input type="text" class="form-control" id="dayselec" placeholder="day" name ="day" [(ngModel)]="triggerAdditionalInfo.unit"    />
                              
                             </div>
                             </div>
                 </div></div>
                             <button (click)="next(heroForm)" class="btn btn-primary">Next</button>
                             </form>
                           

              </div>
              <div id="test-l-4" class="content ">
                  <form>
                  <tabset type="pills" >
                
                      <tab *ngFor ="let list of alertAction ; let i = index" heading="{{list.to}}">
                        <div class ="row">
                            <div class ="col-md-6">
                                <div class="form-group">
                                    <label for="exampleInputPassword1">Entity Type</label>
                                    <input type="text" class="form-control" id="exampleInputPassword1"  [(ngModel)]="list.entityType"  [name] ="i+'entityType'" placeholder="Entity Type" />
                                  </div>
                          </div>  
                          <div class ="col-md-6">
                              <div class="form-group">
                                  <label for="exampleInputPassword1">Entity ID</label> 
                                  <input type="text" class="form-control" id="exampleInputPassword1"  [(ngModel)]="list.entityID" [name] ="i+'entityID'" placeholder="Entity ID" />
                                </div>
                        </div>  
                        <div class ="col-md-6">
                            <div class="form-group">
                                <label for="exampleInputPassword1">To</label> 
                                <input type="text" class="form-control" id="exampleInputPassword1"  [(ngModel)]="list.to"  [name] ="i+'to'"  placeholder="to" />
                              </div>
                      </div> 
                      <div class ="col-md-6">
                          <div class="form-group">
                              <label for="exampleInputPassword1">Type</label> 
                              <input type="text" class="form-control" id="exampleInputPassword1"  [(ngModel)]="list.type"  [name] ="i+'type'"  placeholder="type" />
                            </div>
                    </div>  
                    <div class ="col-md-6">
                        <div class="form-group">
                            <label for="exampleInputPassword1">Message</label> 
                            <input type="text" class="form-control" id="exampleInputPassword1"  [(ngModel)]="list.message" [name] ="i+'message'"  placeholder="Message" />
                          </div>
                  </div>  
                  <div class ="col-md-6">
                      <div class="form-group">
                          <label for="exampleInputPassword1">Template Id</label> 
                          <input type="text" class="form-control" id="exampleInputPassword1"  [(ngModel)]="list.templateId" [name] ="i+'templateId'"  placeholder="Template Id" />
                        </div>
                </div>  
                        </div>
                         
</tab>  
</tabset>
</form>
<button (click)="AddUsernext()" class="btn btn-primary" style="margin:10px">Add New User</button>
<button (click)="RemoveUser(i)"  *ngIf ="alertAction.length >1"class="btn btn-primary" style="margin:10px">Remove User</button>

             <button (click)="next(heroForm)" class="btn btn-primary" >Next</button>

                   </div>
              <div id="test-l-5" class="content  ">
                <form>
                 
</form>
 
                  <button (click)="CreateAlert()" class="btn btn-primary" style="margin:10px">Submit</button>
                </div>
                
           </div>
        </div>
</div>
<div class="modal-footer">
  <button type="button" class="btn theme_table_button" >Close</button>
</div>
</form></div>